html {
    font-family: sans-serif;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

/* HEADER */
.container-header {
    background-color: #C1D3FE;
    display: flex;
}

.menu-header {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header-active {
    background-color: #B6CCFE;
}

.menu-header:hover {
    cursor: pointer;
    background-color: #ABC4FF;
    font-size: 15px;
}

/* APP */
.container-app {
    height: 1000px;
    background-color: #E2EAFC;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.container-card {
    width: 80%;
    height: 80%;
    display: flex;
}

/* ADD EVENT */
.add-evnt-card-left {
    flex: 6;
    background-color: #EDF2FB;
}

.add-evnt-card-left input {
    width: 300px;
    height: 20px;
    padding: 10px;
}

.add-evnt-card-left textarea {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.add-evnt-card-right {
    flex: 6;
    background-color: #EDF2FB;
}

.label-input {
    font-size: 16px;
}

.req-input {
    font-size: 12px;
    margin-top: 5px;
    color: rgb(145, 145, 145);
}

/* HOME */
.card-event-content {
    background-color: #ffffff;
    width: 300px !important;
    min-width: 300px !important;
    height: 500px;
    margin: 0 10px;
    border-radius: 10px;
}

.card-event-img-container {
    background-color: #babcc0;
    height: 150px;
}

.container-card-home {
    width: 80%;
    height: 80%;
    display: flex;
}

/* DASHBOARD */
.container-card-dashboard {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #B6CCFE;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CCDBFD;
}

.pagination {
    display: inline-block;
    margin: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #ABC4FF;
    color: #ffffff;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button {
    float: right;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} */

.margin-top {
    margin-top: 20px;
}